<h1>Hosts#show</h1>

<b>Musician: </b>
<%= @host.show.user.name %><br>

<b>Host: </b>
<%= @host.email %><br>

<br>[add matrix of invited and signed up people]

<br><br>
<%= render 'instructions_modal'%>