 <div class="span4">
   <h2>Artists</h2>
    <p>Support your music by playing house shows. We make it easy to schedule shows and manage tours, so you can focus on the music.</p>
   <p><a class="btn" href="#">Create a show &raquo;</a></p>
 </div>
 <div class="span4">
   <h2>Hosts</h2>
    <p>Find musicians to host. Organize a show, invite your friends, and listen to the music.</p><br>
   <p><a class="btn" href="#">Host a show &raquo;</a></p>
</div>
 <div class="span4">
   <h2>Fans</h2>
   <p>Find shows in your neighborhood, get invitations from friends, and buy tickets. Only see shows where you know someone who's going.</p>
   <p><a class="btn" href="#">Find a show &raquo;</a></p>
 </div>