<div class="container-fluid">
  <div class="hero-unit">
    <h1>Housed</h1>
    <p>We are a new way to enjoy live music. We make it easy to schedule, host, and find underground house concerts.</p>
	<%= render 'pages/modal_learn_more' %>
  </div>
  <div class="row-fluid">
	<%= render 'pages/descriptions' %>
  </div>