<div id="myModal" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h3>Housed - A new kind of live music</h3>
            </div>
            <div class="modal-body">
              <h4>Our vision</h4>
              <p>We want to make it easier for artists to make music, and for fans to find incredible live performances. To do this, we're building a platform that brings together musicians, hosts, and fans to create a live music ecosystem built around house shows.'</p>

              <h4>Our beta - for musicians</h4>
              <p>We're starting out by making it easier for musicians to schedule house shows, coordinate with hosts, and process payment. Create shows, process tickets ahead of time, and manage upcoming tours through our platform to save time. In the future, hosts will be able to book shows themselves through the platform, and fans can discover and attend shows on their own.</p>

              <h4>Our future plans - for hosts and fans</h4>
              <p>Fans will be able to search for musicians to host, manage their upcoming events, and browse local performances. We'll let hosts choose who can see their shows, and use information from your social networks to make sure that you can only find shows where mutual friends are already attending.</p>
              <hr>
            </div>
            <div class="modal-footer">
			  <%= link_to "Musician sign up!", signup_path, class: "btn btn-primary btn-large" %>
			  <%= link_to "Fan sign up!", signup_path, class: "btn btn-primary btn-large" %>

            </div>
          </div>
          <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Learn more &raquo;</a>