<h1>Welcome!</h1>

To get started, upload some basic information below. This will help us to generate professional house show invitations for you. <br>
<br><br>
[Add design skin upload]
<br><br>
[Add sample music upload]
<br><br>
add both to partial in 'shared' folder. <br><br>

	
<%= link_to "Create a show", new_show_path, class: "btn btn-primary btn-large" %>